@model Hangfire.UploadGL.Models.ScheduleTaskModel


@{
    ViewBag.Title = "Upload GL Schedule ";
}

<p>

</p>
@Html.ActionLink("( Back to Console )", "List", "ScheduleTask")

<p>

</p>
<p>
    Save Setting Scheduler
</p>
