/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Promptcd
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* PRIMARY COLORS */
/* SECONDARY COLORS */
/* NEUTRAL COLORS */

/* Reminder: http://bit.ly/2cTls5k */
/*@font-face {
  font-family: 'diodrum-light';
  src: url("../fonts/Diodrum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'diodrum-regular';
  src: url("../fonts/Diodrum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'diodrum-semibold';
  src: url("../fonts/Diodrum-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }*/
::-moz-selection {
    background: #00aeb1;
    color: #ffffff;
}

::selection {
    background: #00aeb1;
    color: #ffffff;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    color: rgba(119, 119, 119, 0.48);
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: rgba(119, 119, 119, 0.48);
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: rgba(119, 119, 119, 0.48);
}

:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: rgba(119, 119, 119, 0.48);
}

/* RESETTER */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 100%;
}

    *:focus, *:before:focus, *:after:focus {
        outline: none;
    }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal !important;
}

/* COMMON TAGS */
html {
    counter-reset: fig-caption-counter;
    color: #777777;
}

body {
    font-family: "diodrum-regular", sans-serif;
    counter-reset: table-caption-counter;
}

h1, h2, h3, h4 {
    font-family: "diodrum-light", sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
    letter-spacing: -1px;
    line-height: 90%;
    margin-bottom: 16px;
}

h2 {
    font-size: 2.25rem;
    letter-spacing: -1px;
    line-height: 95%;
    margin-bottom: 16px;
}

h3 {
    font-size: 1.75rem;
    line-height: 100%;
    margin-bottom: 12px;
}

h4 {
    font-size: 1.125rem;
    margin-bottom: 12px;
}

br {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

p, li {
    font-size: 16px;
    line-height: 180%;
}

p {
    font-size: .88rem;
    margin-bottom: 24px;
    /*a {
    border-bottom: 1px dashed $daksa-green-grass;
  }*/
}

li {
    margin-bottom: 12px;
    padding-left: 12px;
}

ol, ul {
    padding-left: 16px;
    margin-bottom: 24px;
}

a {
    color: #85c468;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    padding-top: 4px;
    transition: all .2s ease-out;
}

    a:hover, a:focus {
        color: #ffffff;
        background: transparent;
    }

span {
    font-family: inherit;
    font-size: inherit;
}

blockquote {
    font-family: "RobotoSlab-Light", serif;
    margin-bottom: 24px;
    padding: 12px 0 20px 16px;
    border-left: 3px solid #d2dde7;
}

    blockquote * {
        font-family: inherit;
        line-height: 160%;
    }

    blockquote p {
        position: relative;
        font-size: 18px;
        margin-bottom: 8px;
    }

        blockquote p:before {
            content: '" ';
        }

        blockquote p:after {
            content: ' "';
        }

    blockquote cite, blockquote footer {
        display: block;
        font-weight: 600;
        font-size: 12px;
        font-style: normal;
    }

label {
    font-family: "diodrum-semibold", sans-serif;
    font-size: .8rem;
    margin-right: 16px;
}

figure {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: 24px 0 48px;
}

    figure.auto img {
        width: auto;
        max-width: 100%;
    }

    figure img {
        width: 100%;
        border: 4px solid rgba(210, 221, 231, 0.24);
    }

figcaption, caption {
    font-family: "diodrum-regular", sans-serif;
    font-size: 14px;
    color: rgba(119, 119, 119, 0.64);
    margin-top: 12px;
    margin-bottom: 12px;
}

figcaption {
    counter-increment: fig-caption-counter;
    line-height: 148%;
}

    figcaption:before {
        content: "Fig. " counter(fig-caption-counter) " - ";
    }

caption {
    counter-increment: table-caption-counter;
}

    caption:before {
        content: "Table " counter(table-caption-counter) " - ";
    }

pre > .ui-outputlabel, code > .ui-outputlabel {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
    font-size: 12px;
    line-height: 160%;
    padding: 4px 8px;
    border: 1px solid #d2dde7;
    border-radius: 3px;
}

pre {
    background: rgba(210, 221, 231, 0.12);
    border: 1px solid rgba(210, 221, 231, 0.24);
    color: #777777;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 360px;
    overflow: auto;
    padding: 12px 16px;
    line-height: 200%;
    border-radius: 3px;
    margin: 12px 0 24px;
}

table {
    width: 100%;
    margin-bottom: 48px;
    transition: all .2s ease-out;
}

    table.has-actions td:last-child {
        text-align: center;
    }

    table thead.sub-header th {
        font-size: 14px;
        background: rgba(210, 221, 231, 0.24);
    }

    table tbody tr:hover {
        background-color: rgba(0, 138, 224, 0.04);
    }

    table tr {
        transition: all .2s ease-out;
    }

        table tr th {
            background: rgba(210, 221, 231, 0.48);
        }

        table tr:nth-child(2n) {
            background-color: rgba(0, 138, 224, 0.02);
        }

    table th[colspan], table th[rowspan], table td[colspan], table td[rowspan] {
        text-align: center;
    }

    table th {
        text-align: left;
        padding: 16px 8px 12px;
    }

    table td {
        font-size: 14px;
        padding: 16px 8px 12px;
    }

    table .td-additional-info {
        display: block;
        font-size: 72%;
        margin: 4px 0;
        color: rgba(119, 119, 119, 0.8);
    }

.ajax-status {
    position: fixed;
    bottom: 40px;
    right: 25px;
    background: none;
    color: gray;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    z-index: 9999;
}

    .ajax-status img {
        float: left;
        margin-right: 5px;
    }

.ajax-status-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

.stacked-form {
    display: block;
    width: 100%;
    min-width: 280px;
}

    .stacked-form.half-width {
        width: 49%;
    }

    .stacked-form.two-columns-form {
        display: flex;
        flex-wrap: wrap;
    }

        .stacked-form.two-columns-form .two-columns-form-group {
            width: 100%;
        }

            .stacked-form.two-columns-form .two-columns-form-group:first-child, .stacked-form.two-columns-form .two-columns-form-group:nth-child(2) {
                padding-right: 48px;
                border-right: 1px solid rgba(119, 119, 119, 0.16);
            }

            .stacked-form.two-columns-form .two-columns-form-group:last-child, .stacked-form.two-columns-form .two-columns-form-group:nth-child(3) {
                padding-left: 48px;
            }

    .stacked-form .form-group {
        margin-bottom: 10px;
    }

        .stacked-form .form-group .inline-group {
            display: flex;
        }

            .stacked-form .form-group .inline-group .image-label {
                width: 300px;
                overflow: hidden;
                padding: 8px 12px;
                text-overflow: ellipsis;
                font-size: 14px;
                background-color: rgba(171, 171, 171, 0.08);
                border-radius: 4px;
                color: #777;
                margin: 0px;
                margin-right: 10px;
            }

            .stacked-form .form-group .inline-group .ui-selectbooleancheckbox {
                margin-top: 6px;
            }

    .stacked-form .form-group-button {
        margin-top: 20px;
        text-align: right;
    }

        .stacked-form .form-group-button button {
            display: inline-block;
        }

    .stacked-form label, .stacked-form input, .stacked-form textarea, .stacked-form button {
        display: block;
        width: 100%;
    }

    .stacked-form label {
        margin-bottom: 8px;
    }

    .stacked-form button {
        width: auto;
    }

    .stacked-form input[type="checkbox"], .stacked-form input[type="radio"] {
        display: inline-block;
        width: auto;
    }

.inline-form {
    display: flex;
    flex-wrap: wrap;
}

    .inline-form .inline-form-wrapper {
        display: inline-block;
        vertical-align: top;
        padding-right: 24px;
    }

        .inline-form .inline-form-wrapper:last-child {
            padding-right: 0;
        }

        .inline-form .inline-form-wrapper.col-10 {
            width: 10%;
        }

        .inline-form .inline-form-wrapper.col-20 {
            width: 20%;
        }

        .inline-form .inline-form-wrapper.col-30 {
            width: 30%;
        }

        .inline-form .inline-form-wrapper.col-40 {
            width: 40%;
        }

        .inline-form .inline-form-wrapper.col-50 {
            width: 50%;
        }

        .inline-form .inline-form-wrapper.col-60 {
            width: 60%;
        }

        .inline-form .inline-form-wrapper.col-70 {
            width: 70%;
        }

        .inline-form .inline-form-wrapper.col-80 {
            width: 80%;
        }

        .inline-form .inline-form-wrapper.col-90 {
            width: 90%;
        }

        .inline-form .inline-form-wrapper > * {
            display: block;
            width: 100%;
        }

        .inline-form .inline-form-wrapper.submitter {
            padding-top: 20px;
        }

        .inline-form .inline-form-wrapper label {
            margin-bottom: 8px;
        }

.checkbox-radiobutton {
    font-size: 13px;
    width: auto;
}

input, textarea, button, input[type="submit"], input[type="checkbox"], select {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    border: 1px solid rgba(19, 137, 123, 0.24);
    transition: all .2s ease-out;
}

    input:focus, textarea:focus, button:focus, input[type="submit"]:focus, input[type="checkbox"]:focus, select:focus {
        outline: none;
    }

input, textarea {
    color: #777777;
}

    input:hover, input:focus, textarea:hover, textarea:focus {
        border-color: #13897b;
        outline: none;
    }

textarea {
    resize: none;
    min-height: 160px;
    line-height: 148%;
}

input[type="checkbox"], input[type="radio"] {
    width: auto !important;
    margin-right: 8px;
}

svg, svg * {
    transition: all .2s ease-out;
}

/* =============================================
CUSTOM CLASSES
============================================= */
/* ====================
MEDIA QUERIES - TABLET
==================== */
@media screen and (min-width: 768px) {
    p, li {
        line-height: 200%;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3.25rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    table td {
        font-size: 16px;
    }

    form.stacked-form.two-columns-form .two-columns-form-group {
        width: 50%;
    }
}
/* ====================
MEDIA QUERIES - STANDARD SCREEN DESKTOP
==================== */
@media screen and (min-width: 1024px) {
    h1, h2, h3, h4 {
        font-family: "diodrum-light", sans-serif;
        text-transform: uppercase;
    }

    h1 {
        font-size: 6rem;
        letter-spacing: -1px;
        line-height: 90%;
        margin-top: 48px;
        margin-bottom: 72px;
    }

    h2 {
        font-size: 4rem;
        letter-spacing: -1px;
        line-height: 95%;
        margin-bottom: 32px;
        margin-bottom: 48px;
    }

    h3 {
        font-size: 3.25rem;
        line-height: 100%;
        margin-top: 16px;
        margin-bottom: 28px;
    }

    h4 {
        font-family: "diodrum-light", sans-serif;
        font-size: 2rem;
        margin-top: 16px;
        margin-bottom: 28px;
    }

    figure img {
        width: 480px;
        border: none;
    }

    input, textarea, button, input[type="submit"], select {
        width: auto;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.mandatory:after {
    position: absolute;
    content: "*";
    margin-left: 8px;
    color: #e83665;
}

.activation-form .ui-inputfield.ui-inputtext, .activation-form .ui-inputfield.ui-password, .activation-form .ui-inputfield.ui-inputtextarea, .activation-form .ui-inputfield.ui-inputmask, .activation-form .ui-inputfield.hasDatepicker {
    padding-left: 10px;
}

.activation-form .form-group-button {
    text-align: left;
}

/*# sourceMappingURL=main.css.map */
